<p>
    Mi nombre completo es Mateo López Muñoz. Mi primera vez programando fue a los 12 años programando un Flappy Bird con Game Maker. Ahora estoy trabajando con empresas por dentro y fuera de mi país.
</p>

<p>
    Entre mis éxitos destaco que durante mis años estudiando desarrollo oficialmente, siempre lideraba los grupos de trabajo y a la vez ayudaba a mis compañeros a aprender sobre desarrollo de escritorio. Me encanta el desarrollo en todas sus formas y disfruto compartir mi conocimiento sobre ello.
</p>

<p>
    He tenido el placer de experimentar el desarrollo de aplicaciones, móviles, de escritorio y web durante semilleros y competencias en las cuales me he destacado por mi amplio conocimiento y adaptabilidad.
</p>

<style>
    p {
        color: rgb(148 163 184);
    }
</style>