<p>
    My full name is Mateo López Muñoz. I began my programming journey at the age of 12, creating a Flappy Bird game using Game Maker. Today, I have the privilege of collaborating with companies both locally and globally.
</p>

<p>
    One of my most notable accomplishments is that throughout my formal education in software development, I consistently led team projects and mentored my peers in desktop development. I am deeply passionate about development in all its forms and take great joy in sharing my expertise with others.
</p>

<p>
    I've had the privilege of participating in hackathons and competitions, where I've had the opportunity to develop applications, mobile, desktop, and web. Throughout these experiences, I've consistently demonstrated my extensive knowledge and adaptability, setting myself apart from others.
</p>

<style>
    p {
        color: rgb(148 163 184);
    }
</style>