---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'April 2019 - February 2023',
        title: 'Discord bot developed using Node.js.',
        description: 'A comprehensive Discord bot boasting over 50 features, including advanced moderation tools, ticketing systems, and auto-role functionality. Developed specifically for the esteemed influencer Aurigas.',
    },
    {
        date: 'February 2024',
        title: 'Official website portal for Construlivianas S.A.S.',
        description: "A comprehensive contact page for Construlivianas S.A.S., showcasing a visually appealing photo gallery, highlighting the company's projects, and providing essential information. Built using Vanilla HTML and CSS for a clean and modern design."
    }
]
---
<ol>
    {
        EXPERIENCE.map(experience => (
            <li>
                <ExperienceItem { ... experience} />
            </li>
        ))
    }
</ol>

<style>
    ol {
        align-items: start;
        flex-direction: column-reverse;
    }

    li {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    @media (min-width: 640px) {
        ol{
            display: flex;
            flex-direction: row;
        }
    }
</style>