<header>
    <a class="avatar" href="/">
        <img src="/Mateo.webp" alt="Foto de mateo">
    </a>

    <nav>
        <a href="/#experience">Experience</a>
        <a href="/#projects">Projects</a>
        <a href="/#about">About me</a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=573042333522">Contact me</a>
    </nav>
</header>

<style>
    header {
        position: sticky;
        top: 10px;
        background-color: rgba(100, 100, 100, .2);
        padding: 0.25rem 1rem 0.25rem 5px;
        z-index: 11;
        margin: 2.25rem auto;
        border-radius: 9999px;
        backdrop-filter: blur(4px);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        border-radius: 50%;
        height: 34px;
        width: 34px;
    }

    .avatar {
        display: flex;
    }

    nav {
        font-size: .85rem;

        display: flex;
        flex-direction: row;
        gap: 0 10px;
    }

    nav a {
        color: white;
        font-weight: 600;
        opacity: 0.8;
        transition: opacity .3s, background-color .3s;
        padding: 0.25rem 0.35rem;
        border-radius: 6px;
    }

    nav a:hover {
        opacity: 1;
        background-color: hsla(0, 0%, 100%, 0.1);
    }

    @media (min-width: 1280px) { 
        header {
            width: 1120px;
        }
    }

    @media (min-width: 768) {
        nav {
            font-size: 1rem;
        }
    }
</style>