---
    const { href } = Astro.props
---

<a href={href} target="_blank" rel="noopener noreferrer">
    <slot />
</a>

<style>
    a {
        border-radius: .4rem;
        color: #009087;
        border: 1px solid #009087;
        padding: 0.25rem 0.5rem;
        font-weight: 600;
        font-size: 0.85rem;
        line-height: 1rem;
        transition: all .3s;
        cursor: pointer;
        
        display: inline-flex;
        justify-content: center;
        align-items: center;
        column-gap: .5rem;
    }

    :hover {
        border-color: #01e8d0;
        color: #01e8d0;
        transform: translate(3px, -3px);
    }
</style>