<a { ... Astro.props} target="_blank" rel="noopener noreferrer">
    <slot/>
</a>

<style>
    a {
        border-radius: 9999px;
        border: 1px solid hsl(0, 0%, 20%);
        background-color: rgba(255, 255, 255, .05);
        color: rgba(255, 255, 255, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
        padding: 0.25rem 0.5rem;
        transition: all .3s;
        font-size: 0.75rem;
        line-height: 1rem;
    }

    a:hover{
        scale: 1.07;
        background: rgba(255, 255, 255, .10);
        color: rgba(255, 255, 255, .9);
    }

    @media (min-width: 768px) {
        a {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
</style>