---
    import Layout from "@/layouts/Layout.astro"
    import Bento_Box from "@/components/BentoBox.astro"
---

<Layout
    title="Bento-box example"
    description="Este es un ejemplo del diseño de vento box utilizado en la web"
>
    <main>
        <section>
            <Bento_Box />
        </section>
    </main>
</Layout>

<style>
    section {
		width: 100%;
		margin-inline: auto;
		padding: 3rem;
		margin: 4rem 0;
	}
</style>